/* RESTART */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@100;300;400;500;600;700&display=swap');

:root {
    --white: #ffffff;
    --black: #000000;
    --blue: #01224D;
    --blue-light: #3A6FAE;
    --border-button: .1rem solid #B3B3B3;
    --grey: #4b4b4d;
    --grey-light: #CCCCCC;
    --grey-dark: #B3B3B3;
}

*{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: all .2s linear;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding: 7rem;
    scroll-behavior: smooth;
}

body {
    overflow-y: auto;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--blue);
    border-radius: 10px;
}
::-webkit-scrollbar-track {
    background-color: var(--blue-light);
}

section {
    padding: 2rem 9%;
}

.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 2rem;
    background: var(--blue);
    color: var(--white);
    font-weight: 500;
    font: 1.7rem;
    cursor: pointer;
    padding: .8rem 3rem;
    text-transform: uppercase;
    border: var(--border-button);
}

.btn .fa-arrow-right {
    margin-right: 2rem;
    font-size: 2rem;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    background: var(--white);
    padding: 3rem 9%;
    z-index: 999;
    height: 80px;
}

.header .buttons {
    position: fixed;
    right: 23rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

.header .menu-bar {
    position: fixed;
    right: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header .menu-text {
    font-size: 2rem;
    color: var(--grey);
    margin-right: 5rem;
}

.header .fa-bars {
    font-size: 3rem;
    color: var(--black);
}

.header img {
    width: 290px;
}

.home {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--black);
    height: 100vh;
    width: 100vw;
}

.home .home-message {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
}

.home .home-message h1 {
    font-size: 5vw;
    text-align: justify;
    color: var(--white);
    margin-bottom: 45px;
}

.service-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10rem;
    padding-bottom: 10rem;
    background: var(--blue-light);
}

.service-container .service {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    color: var(--white);
}

.service-container .service:last-child {
    width: 670px;
}

.service-container .service button{
    margin-top: 1.3rem;
}

.service-container .service .slogan{
    font-size: 2rem;
    text-align: justify;
}

.service-container .service .slogan strong{
    font-size: 2.2rem;
}


.service-container .service .service-text{
    text-align: justify;
    font-size: 1.8rem;
}

.for-whom-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    background: var(--white);
}

.for-whom-container .for-whom-title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    height: 175px;
    background: var(--grey-light);
    margin-top: -20px;
}

.for-whom-container .for-whom-title .title {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--black);
    z-index: 7;
    font-size: 40px;
}

.for-whom-container .for-whom-title .subtitle {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--black);
    z-index: 7;
    font-size: 22px;
    font-weight: 400;
}

.for-whom-container .for-whom-title::after {
    content: '';
    position: absolute;
    margin-bottom: 50px;
    height: 173px;
    width: 100vw;
    z-index: 5;
    background: var(--white);
    clip-path: polygon(0 0, 23% 0, 100% 100%, 0% 100%);
}

.for-whom-container .for-whom-title::before {
    content: '';
    position: absolute;
    margin-top: 100px;
    height: 75px;
    width: 100vw;
    z-index: 6;
    background: var(--grey-dark);
    clip-path: polygon(0 100%, 100% 0, 100% 100%, 0 100%);
}

.for-whom-container .for-whom {
    padding-top: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-bottom: 85px;
}

.for-whom-container .for-whom .whom {
    display: flex;
    align-items: center;
    justify-content: center;
}

.for-whom-container .for-whom .whom .image-arrow-90deg {
    width: 140px;
    transform: rotate(-45deg);
}

.for-whom-container .for-whom .whom .company {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 280px;
}

.for-whom-container .for-whom .whom .company img {
    width: 35px;
    height: 35px;
    margin-bottom: 35px;
    align-items: center;
}

.for-whom-container .for-whom .whom .company h1 {
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 45px;
    text-align: center;
}

.for-whom-container .for-whom .whom .company .subtitle {
    align-items: flex-start;
}


.for-whom-container .for-whom .whom .company .subtitle h3 {
    font-weight: 400;
    text-align: center;
    margin-bottom: 40px;
}

.for-whom-container .for-whom .whom .company .subtitle a {
    color: var(--blue-light);
    font-size: 15px;
    font-weight: 500;
}

.for-whom-container .separator {
    width: 100vw;
    border-bottom: 5px solid var(--blue-light);
}

.container-services-for-companies {
    width: 100vw;
    height: 510px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(180deg , var(--blue-light), var(--white));
}

.container-services-for-companies button {
    margin-top: -40px;
    z-index: 1;
}

.container-services-for-companies .services-for-companies-text {
    margin-top: 70px;
    color: var(--white);
    max-width: 730px;
    margin-bottom: 70px;
}

.container-services-for-companies .services-for-companies-text h3 {
    font-size: 25px;
    font-weight: 500;
    text-transform: uppercase;
}

.container-services-for-companies .services-for-companies-text h1 {
    margin-top: 35px;
    font-size: 34px;
    font-weight: 700;
}

.slider {
    margin-top: -180px;
}

.slider .swiper .swiper-button-next,
.slider .swiper .swiper-button-prev {
    color: var(--black);
}

.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .mySwiper2 {
    height: 500px;
    width: 100%;
  }

  .mySwiper {
    height: 80px;
    box-sizing: border-box;
    padding: 10px 0;
    margin-top: 50px;
  }
/*.container-services-for-companies .services-for-companies {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -90px;
    width: 100vw;
    height: 510px;
    background: linear-gradient(to bottom , var(--blue-light), var(--white));
    border: 1px solid red
} */







/* .container-services-for-companies .services-for-companies h3 {
    font-size: 25px;
    font-weight: 500;
    color: var(--white);
    margin-bottom: 35px;
    text-transform: u;
}

.container-services-for-companies .services-for-companies h1 {
    font-size: 30px;
    font-weight: 700;
    color: var(--white);
    margin-bottom: 70px;
    max-width: 630px;
} */
/* section {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.menu-bar {
    position: fixed;
    left: 0;
    top: 0;
    height: 80px;
    width: 100%;
    background: #8b939c;
    z-index: 999;
}

.menu-bar .menu-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-bar .buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    right: 200px;
    gap: 30px;
}

.menu-bar .buttons button {
    display: flex;
    align-items: center;
    height: 30px;
    background: #01224D;
    border: 1px solid #B3B3B3;
    padding: 8px 18px 8px 18px;
    color: #ffffff;
    border-radius: 20px;
    text-transform: uppercase;
}

.menu-bar .buttons .fa-arrow-right{
    margin-right: 8px;
    width: 16px;
    height: 11px;
}

.menu-bar .menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 36px;
}

.menu-bar .menu .menu-text {
    text-transform: uppercase;
    font-size: 20px;
    color: #4b4b4d;
    font-weight: 500;
    padding-right: 34px;
}

.menu-bar .menu .fa-bars {
    font-size: 35px;
    color: #000000;
}

.home {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 730px;
    background: #000000;
}

.card-basic {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 185px;
    height: auto;
    border: 2px solid #c8c8c8;
    border-radius: 20px;
    background: #FEFEFE;
    -webkit-box-shadow: 0px 3px 5px 0px rgba(184,175,184,1);
    -moz-box-shadow: 0px 3px 5px 0px rgba(184,175,184,1);
    box-shadow: 0px 3px 5px 0px rgba(184,175,184,1);
}

.card-basic header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    height: 85px;
}

.card-basic header h1 {
    color: #4B4B4D;
    font-size: 25px;
    padding-top: 35px;
    font-family: 'Open Sans', sans-serif;
}

.card-basic header h1::after {
    content: '';
    width: 75px;
    height: 2px;
    display: block;
    position: absolute;
    background: #4F6CA9;
    z-index: 21;
}

.card-basic .separator {
    margin-top: -5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.card-basic .separator svg:first-child {
    z-index: 1; 
}

.card-basic .separator svg:last-child {
    margin-top: -13px;
    margin-left: -7px;
}

.card-basic main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.card-basic main h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    padding-top: 77px;
    font-weight: 400;
}

.card-basic main span {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    padding-top: 15px;
    font-weight: 400;
}

.card-basic main h1 {
    text-align: center;
    width: 100%;
}

.card-basic main h1 span {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: 400;
}

.card-basic footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.card-basic footer button {
    width: 83px;
    height: 22px;
    background: #01224D;
    color: #ffffff;
    border-radius: 10px;
    margin-top: 45px;
    margin-bottom: 25px;
}

.card-pro {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 220px;
    height: auto;
    border: 2px solid #c8c8c8;
    border-radius: 20px;
    background: #FEFEFE;
    -webkit-box-shadow: 0px 3px 5px 0px rgba(184,175,184,1);
    -moz-box-shadow: 0px 3px 5px 0px rgba(184,175,184,1);
    box-shadow: 0px 5px 5px 5px rgba(184,175,184,1);
    z-index: 5;
}

.card-pro header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    height: 95px;
}

.card-pro header h1 {
    color: #4B4B4D;
    font-size: 25px;
    padding-top: 35px;
    font-family: 'Open Sans', sans-serif;
}

.card-pro header h1::after {
    content: '';
    width: 70px;
    height: 2px;
    display: block;
    position: absolute;
    margin-left: -8px;
    background: #4F6CA9;
    z-index: 21;
}

.card-pro .separator {
    margin-top: -5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.card-pro .separator svg:first-child {
    z-index: 3;
}

.card-pro .separator svg:last-child {
    margin-top: -13px;
    margin-left: -6px;
    z-index: 2;
}

.card-pro main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #D2D3D5;
    margin-top: 5px;
    z-index: 1;
    text-align: center;
}

.card-pro main h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    padding-top: 77px;
    font-weight: 700;
    width: 80%;
}

.card-pro main span {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    padding-top: 15px;
    font-weight: 700;
}

.card-pro main h1 {
    text-align: center;
    width: 100%;
}

.card-pro main h1 span {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: 400;
}

.card-pro footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: #D2D3D5;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.card-pro footer button {
    width: 83px;
    height: 22px;
    background: #01224D;
    color: #ffffff;
    border-radius: 10px;
    margin-top: 45px;
    margin-bottom: 25px;
}


.card-business {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 185px;
    height: auto;
    border: 2px solid #c8c8c8;
    border-radius: 20px;
    background: #FEFEFE;
    -webkit-box-shadow: 0px 3px 5px 0px rgba(184,175,184,1);
    -moz-box-shadow: 0px 3px 5px 0px rgba(184,175,184,1);
    box-shadow: 0px 3px 5px 0px rgba(184,175,184,1);
}

.card-business header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    height: 85px;
}

.card-business header h1 {
    color: #4B4B4D;
    font-size: 25px;
    padding-top: 35px;
    font-family: 'Open Sans', sans-serif;
}

.card-business header h1::after {
    content: '';
    width: 85px;
    height: 2px;
    display: block;
    position: absolute;
    margin-left: 20px;
    background: #4F6CA9;
    z-index: 21;
}

.card-business .separator {
    margin-top: -5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.card-business .separator svg:first-child {
    z-index: 1;
}

.card-business .separator svg:last-child {
    margin-top: -13px;
    margin-left: -7px;
}

.card-business main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.card-business main h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    padding-top: 77px;
    font-weight: 400;
}

.card-business main span {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    padding-top: 15px;
    font-weight: 400;
}

.card-business main h1 {
    text-align: center;
    width: 100%;
}

.card-business main h1 span {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: 400;
}

.card-business footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.card-business footer button {
    width: 83px;
    height: 22px;
    background: #01224D;
    color: #ffffff;
    border-radius: 10px;
    margin-top: 45px;
    margin-bottom: 25px;
} */